/* 主体部分 */
.main {
    width: 980px;
    height: 481px;
    margin-left: 220px;
    margin-top: 10px;

}

.main img {
    width: 100%;
    height: 480px;
}

.focus {
    position: relative;
    width: 720px;
    height: 480px;
    background-color: purple;
    overflow: hidden;
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}

.focus ul li {
    float: left;
}

.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: 'icomoon';
    font-size: 18px;
    z-index: 2;
}

.arrow-r {
    right: 0;
}



.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.circle li {
    float: left;
    width: 15px;
    height: 15px;
    /*background-color: #fff;*/
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    /*鼠标经过显示小手*/
    cursor: pointer;
}

.current {
    background-color: #fff;
}

.newsflash {
    width: 250px;
    height: 465px;

}

.news {
    height: 185px;
    border: 1px solid #e4e4e4;
}

.news-hd {
    padding: 0 15px;
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
}

.news-hd .more::after {
    font-family: 'icomoon';
    content: '\e920';
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd li {
    height: 24px;
    line-height: 24px;
    text-align: left;

}

.lifeservice {
    overflow: hidden;
    height: 210px;
    border: 1px solid #e4e4e4;

}

.lifeservice li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.lifeservice p {
    display: block;
    width: 24px;
    height: 28px;
    margin-top: -80%;
    margin-left: 30%;
}

.lifeservice a {
    display: block;
    margin-top: 40px;
}

.lifeservice_p1 {
    background: url(../images/icons.png) no-repeat -15px -13px;
}

.lifeservice_p2 {
    background: url(../images/icons.png) no-repeat -80px -15px;
}

.lifeservice_p3 {
    background: url(../images/icons.png) no-repeat -142px -15px;
}

.lifeservice_p4 {
    background: url(../images/icons.png) no-repeat -205px -15px;
}

.lifeservice_p5 {
    background: url(../images/icons.png) no-repeat -15px -83px;
}

.lifeservice_p6 {
    background: url(../images/icons.png) no-repeat -80px -85px;
}

.lifeservice_p7 {
    background: url(../images/icons.png) no-repeat -142px -85px;
}

.lifeservice_p8 {
    background: url(../images/icons.png) no-repeat -205px -85px;
}

.lifeservice_p9 {
    background: url(../images/icons.png) no-repeat -15px -154px;
}

.lifeservice_p10 {
    background: url(../images/icons.png) no-repeat -79px -155px;
}

.lifeservice_p11 {
    background: url(../images/icons.png) no-repeat -142px -150px;
}

.lifeservice_p12 {
    background: url(../images/icons.png) no-repeat -205px -154px;
}

.bargain img {
    width: 100%;
    height: 80px;
    margin-top: 5px;
}

/*  主体结束*/
/* 推荐模块 */
.recom {
    height: 163px;
    margin-top: 12PX;
    background-color: #ededed;
}

.recom_hd {
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    padding-top: 30px;
}

.recim_bd img {
    width: 248px;
    height: 163px;
}

.recim_bd li {
    position: relative;
    float: left;
}

.recim_bd li:nth-child(-n+3) ::after {
    position: absolute;
    right: 0;
    top: 10px;
    content: '';
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

/* 推荐模块结束 */

/* 猜你喜欢模块 */
.live {
    height: 300px;
}

.live_top {
    height: 50px;
    margin-bottom: 20px;
}

.live_top li {
    display: inline-block;
    margin: 30px auto;
    font-size: 18px;
}

.live_top li a {
    display: inline-block;
    margin-bottom: 5px;

}

.live_top li:last-child::after {
    font-family: 'icomoon';
    content: '\ea2e';
    width: 25px;
    height: 25px;
}

.live_bottom {
    position: relative;
    height: 230px;
    border: 1px solid rgb(238, 238, 238);
}

.live_bottom img {
    width: 140px;
    height: 120px;
}

.live_bottom li {
    position: relative;
    height: 100%;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.live_bottom li:first-child {
    margin-left: -45px;
}

.live_bottom li:last-child {
    margin-top: 10px;
}

.live_bottom li:nth-child(-n+6) ::after {
    position: absolute;
    right: -13px;
    bottom: 16px;
    content: '';
    width: 1px;
    height: 90px;
    background-color: #ddd;
}

.live_bottom p {
    font-size: 24px;
    text-align: left;
    color: red;
}

/* 猜你喜欢结束 */

/* 传智播客 */
.podcast_p {
    text-align: left;
    height: 20px;
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0px 10px;
}

.podcast {
    height: 405px;
    border: 1px solid rgb(238, 238, 238);
}
.podcast p{
    font-size: 16px;
    font-weight: 700;
}
.podcast_rigth {
    width: 405px;
    height: 405px;
}
.podcast_rigth img{
    width: 405px;
    height: 405px;
}
.podcast_rigth_tow li{
    position: relative;
    width: 230px;
    height: 190px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.podcast_rigth_tow li:first-child:after{
    position: absolute;
    content: '';
    width:200px;
    height: 1px;
    top: 5px;
    margin-left: -214px;
    border-top: 1px solid rgb(238, 238, 238);
}
.podcast_rigth_tow p{
    height: 25px;
    font-weight: 700;
}
.podcast_rigth_tow img{
    width: 230px;
    height: 189px;
}
.podcast_left{
 width: 410px;
 height: 405px;

}
.podcast_left p{
    background-color:#f7f7f7 ;
}
.podcast_left_top{
    position: relative;
    width: 411px;
    height: 194px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.podcast_left_top a:first-child:after{
    position: absolute;
    content: '';
    width:390px;
    height: 1px;
    top: 8px;
    right: 10px;
    border-top: 1px solid rgb(238, 238, 238);
}
.podcast_left_top img{
    width: 410px;
    height: 193px;  
   
}
.podcast_left_bottom{
    width: 205px;
    height: 189px;
    background-color: #f7f7f7;
 border-right: 1px solid rgb(238, 238, 238); 
}
.podcast_left_bottom img{
    width: 203px;
    height: 188px;
}

.podcast_left_tow{
    width: 150px;
    height: 405px;
    /* background-color: royalblue; */
}
.podcast_left_tow_rigth ul{
    position: relative;
}
.podcast_left_tow_rigth li{
    position: relative;
    width: 75px;
    height: 56.5px;
    /* background-color: salmon; */
}
.podcast_left_tow_rigth a:after{
    position: absolute; 
    padding-left: 12px;
    left: 8px;
    width: 60px;
    top: -2px;
    height: 1px;
    content: '';
   border-bottom: 1px dashed rgb(238, 238, 238);
}
.podcast_left_tow_rigth ul::after{
     position: absolute; 
     top: 10px;
     right: 0;
     width: 1px;
     height: 375px;
     content: '';
    border-right: 1px dashed rgb(238, 238, 238);
}
.podcast_left_tow_rigth p{
    display: inline-block;
    width: 75px;
    height: 58px;
}
.podcast_li1{
    background: url(../upload/logo.jpg)no-repeat
    -7px 12px;
}
.podcast_li2{
    background: url(../upload/logo.jpg)no-repeat
    -7px -37px;
}
.podcast_li3{
    background: url(../upload/logo.jpg)no-repeat
    -7px -92px;
}
.podcast_li4{
    background: url(../upload/logo.jpg)no-repeat
    -7px -143px;
}
.podcast_li5{
    background: url(../upload/logo.jpg)no-repeat
    -7px -200px;
}
.podcast_li6{
    background: url(../upload/logo.jpg)no-repeat
    -7px -248px;
}
.podcast_li7{
    background: url(../upload/logo.jpg)no-repeat
    -7px -301px;
}
.podcast_li8{
    background: url(../upload/logo.jpg)no-repeat
    -86px 15px;
}
.podcast_li9{
    background: url(../upload/logo.jpg)no-repeat
    -86px -300px;
}
.podcast_li10{
    background: url(../upload/logo.jpg)no-repeat
    -86px -89px;
}
.podcast_li11{
    background: url(../upload/logo.jpg)no-repeat
   -86px -142px;
}
.podcast_li12{
    background: url(../upload/logo.jpg)no-repeat
    -86px -200px; 
  
}
.podcast_li13{
    background: url(../upload/logo.jpg)no-repeat
    -86px -246px;
}
.podcast_li14{
    background: url(../upload/logo.jpg)no-repeat
    -86px -300px;
}